/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--main-color, #000);
  font-family: var(--main-font, 'Inter-Variable'), Arial, Helvetica, sans-serif;
  background-color: var(--bg-color, #fff);
  background-image: var(
    --bg-image,
    repeating-linear-gradient(
      90deg,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(#e7e7e7, #1a1a1a)
  );
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: var(--normal-font-weight, 465);
}

.header {
  padding: 100px 0;
  font-family: var(--accent-font, 'PressStart2P-Regular'), 'Lucida Grande',
    Geneva, sans-serif;
  line-height: 1;
}

.header__container {
  inline-size: clamp(375px, 49vi, 700px);
  border: 2px solid var(--main-color, #000);
  background-color: var(--bg-color, #fff);
  display: flex;
  margin-inline: auto;
  flex-direction: column;
  align-items: center;
}

.container__title {
  padding: clamp(120px, 32vi, 136px) 0 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: 400;
}

.container__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
  text-transform: uppercase;
}

.header__theme-menu {
  padding: 25px clamp(133px, 21vi, 297px) 25px clamp(154px, 22vi, 315px);
  font-weight: 400;
  font-size: 14px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  border: 0;
  text-transform: uppercase;
  position: relative;
  text-align: start;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset: 0 0 0 -19px;
  animation: arrow 0.5s ease-in-out infinite alternate-reverse;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  transform: scaleX(0);
  inset: 15px 0;
  position: absolute;
  block-size: 2px;
  background-color: var(--main-color, #000);
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  transform-origin: 0 100%;
}

.theme-menu__button:focus-visible::after {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  transform: scaleX(1);
}

/* MAIN */

.main {
  display: flex;
  flex-direction: column;
}

.main__card {
  background-color: var(--bg-color, #fff);
  color: var(--main-color, #000);
  border: 2px solid var(--main-color, #000);
  inline-size: clamp(375px, 49vi, 696px);
  margin: 0 auto;
}

.main__card:not(:last-child) {
  margin-block-end: 50px;
}

.card__title {
  font-weight: var(--bold-font-weight, 700);
  font-size: 18px;
  line-height: 1.21;
  min-inline-size: 375px;
  padding: clamp(3px, 4.4px - 0.1vi, 4px) 10px clamp(3px, 8px - 0.35vi, 6px);
}

.card__figure {
  position: relative;
}

.main__card:nth-child(1) > .card__figure::before {
  content: '<fear>';
  position: absolute;
  z-index: 1;
  font-family: var(--accent-font, 'PressStart2P-Regular'), 'Lucida Grande',
    Geneva, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  inset-inline-end: clamp(13px, 2vi, 25px);
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
  text-shadow:
    1px 0 1px var(--bg-color, #fff),
    0 1px 1px var(--bg-color, #fff),
    -1px 0 1px var(--bg-color, #fff),
    0 -1px 1px var(--bg-color, #fff);
  opacity: 0.5;
}

.main__card:nth-child(2) > .card__figure::before {
  content: '<nado>';
  position: absolute;
  z-index: 1;
  font-family: var(--accent-font, 'PressStart2P-Regular'), 'Lucida Grande',
    Geneva, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  inset-inline-end: clamp(13px, 2vi, 25px);
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
  text-shadow:
    1px 0 1px var(--bg-color, #fff),
    0 1px 1px var(--bg-color, #fff),
    -1px 0 1px var(--bg-color, #fff),
    0 -1px 1px var(--bg-color, #fff);
  opacity: 0.5;
}

.main__card:nth-child(3) > .card__figure::before {
  content: '<joy>';
  position: absolute;
  z-index: 1;
  font-family: var(--accent-font, 'PressStart2P-Regular'), 'Lucida Grande',
    Geneva, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  inset-inline-end: clamp(13px, 2vi, 25px);
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
  text-shadow:
    1px 0 1px var(--bg-color, #fff),
    0 1px 1px var(--bg-color, #fff),
    -1px 0 1px var(--bg-color, #fff),
    0 -1px 1px var(--bg-color, #fff);
  opacity: 0.5;
}

.main__card:nth-child(4) > .card__figure::before {
  content: '<fire>';
  position: absolute;
  z-index: 1;
  font-family: var(--accent-font, 'PressStart2P-Regular'), 'Lucida Grande',
    Geneva, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  inset-inline-end: clamp(13px, 2vi, 25px);
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
  text-shadow:
    1px 0 1px var(--bg-color, #fff),
    0 1px 1px var(--bg-color, #fff),
    -1px 0 1px var(--bg-color, #fff),
    0 -1px 1px var(--bg-color, #fff);
  opacity: 0.5;
}

.main__card:nth-child(5) > .card__figure::before {
  content: '<love>';
  position: absolute;
  z-index: 1;
  font-family: var(--accent-font, 'PressStart2P-Regular'), 'Lucida Grande',
    Geneva, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  inset-inline-end: clamp(13px, 2vi, 25px);
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
  text-shadow:
    1px 0 1px var(--bg-color, #fff),
    0 1px 1px var(--bg-color, #fff),
    -1px 0 1px var(--bg-color, #fff),
    0 -1px 1px var(--bg-color, #fff);
  opacity: 0.5;
}

.main__card:nth-child(6) > .card__figure::before {
  content: '<satisfaction>';
  position: absolute;
  z-index: 1;
  font-family: var(--accent-font, 'PressStart2P-Regular'), 'Lucida Grande',
    Geneva, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  inset-inline-end: clamp(13px, 2vi, 25px);
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
  text-shadow:
    1px 0 1px var(--bg-color, #fff),
    0 1px 1px var(--bg-color, #fff),
    -1px 0 1px var(--bg-color, #fff),
    0 -1px 1px var(--bg-color, #fff);
  opacity: 0.5;
}

.main__card:nth-child(7) > .card__figure::before {
  content: '<hopelessness>';
  position: absolute;
  z-index: 1;
  font-family: var(--accent-font, 'PressStart2P-Regular'), 'Lucida Grande',
    Geneva, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  inset-inline-end: clamp(13px, 2vi, 25px);
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
  text-shadow:
    1px 0 1px var(--bg-color, #fff),
    0 1px 1px var(--bg-color, #fff),
    -1px 0 1px var(--bg-color, #fff),
    0 -1px 1px var(--bg-color, #fff);
  opacity: 0.5;
}

.main__card:nth-child(8) > .card__figure::before {
  content: '<inspiration>';
  position: absolute;
  z-index: 1;
  font-family: var(--accent-font, 'PressStart2P-Regular'), 'Lucida Grande',
    Geneva, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  inset-inline-end: clamp(13px, 2vi, 25px);
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
  text-shadow:
    1px 0 1px var(--bg-color, #fff),
    0 1px 1px var(--bg-color, #fff),
    -1px 0 1px var(--bg-color, #fff),
    0 -1px 1px var(--bg-color, #fff);
  opacity: 0.5;
}

@supports (text-stroke: 1px var(--bg-color, #fff)) or
  (-webkit-text-stroke: 1px var(--bg-color, #fff)) {

  .card__figure::before {
    -webkit-text-stroke: 1px var(--bg-color, #fff);
    text-shadow: none;
  }
}

.card__img {
  inline-size: 100%;
  object-fit: cover;
  border-block: 2px solid var(--main-color, #000);
}

.img-blur {
  filter: blur(3px);
}

.img-brightness {
  filter: brightness(30%);
}

.img-saturate {
  filter: saturate(110%);
}

.img-invert {
  filter: invert(1) hue-rotate(141deg);
}

.img-sepia {
  filter: sepia(80%);
}

.img-blur-sepia {
  filter: blur(2px) sepia(0);
}

.img-grayscale-contrast {
  filter: grayscale(157%) contrast(0.5);
}

.img-opacity-saturate {
  filter: opacity(71%) saturate(0.5);
}

.figure-caption {
  font-weight: var(--normal-font-weight, 400);
  font-size: 18px;
  line-height: 1.17;
  padding: clamp(20px, 2vi, 28px) 25px 25px;
}

.card__img-text:first-child {
  padding-block-end: 27px;
}

.card__buttons {
  display: flex;
  justify-content: end;
  gap: 5px;
  padding: 0 22px 19px;
  align-items: stretch;
}

.card__icon-button {
  border: 2px solid transparent;
  transition: box-shadow 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--main-color, #000);
}

.sparks {
  opacity: 0;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--main-color, #000);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--main-color, #000);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--sparks-color, #f00);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--sparks-color, #f00);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--sparks-color, #f00);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--sparks-color, #f00);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--sparks-color, #f00);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: heart 0.3s 0.1s ease-in 1 alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in 1 alternate;
}

.like-icon .contour {
  fill: var(--main-color, #000);
  transition: fill 0.1s linear;
}

.card__like-button {
  font-size: 14px;
  position: relative;
  padding: 10px 35px;
  line-height: 0.9;
  border: 2px solid var(--main-color, #000);
  font-family: var(--accent-font, 'PressStart2P-Regular'), 'Lucida Grande',
    Geneva, sans-serif;
  transition: box-shadow 0.3s ease;
}

.footer__button,
.close-button {
  transition: box-shadow 0.3s ease;
}

.card__like-button:focus,
.footer__button:focus,
.close-button:focus {
  outline: none;
  -webkit-box-shadow: 2px 2px 0 2px var(--main-color, #000);
  box-shadow: 2px 2px 0 2px var(--main-color, #000);
}

.card__like-button .button__text,
.footer__button .button__text,
.close-button .button__text {
  color: var(--button-color, #fff);
  mix-blend-mode: difference;
}

.card__like-button::after,
.footer__button::after,
.close-button::after {
  content: '';
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  background-color: var(--main-color, #000);
  transform-origin: 0 100%;
  position: absolute;
  display: block;
  inset: 0;
}

.card__like-button:hover::after,
.footer__button:hover::after,
.close-button:hover::after {
  transform: scaleX(1);
}

.button__text,
.footer__button svg {
  z-index: 1;
  position: relative;
}

/* FOOTER */

.footer {
  padding: clamp(50px, 13vi, 52px) 0 clamp(100px, 27vi, 105px);
  display: flex;
  font-family: var(--accent-font, 'PressStart2P-Regular'), 'Lucida Grande',
    Geneva, sans-serif;
}

.footer__button {
  border: 2px solid var(--main-color, #000);
  display: flex;
  background-color: var(--bg-color, #fff);
  margin-inline: auto;
  padding: clamp(15px, 4vi, 18.5px) 18px clamp(15px, 4vi, 18.5px) 19px;
  line-height: 0.9;
  font-size: 14px;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  align-content: center;
  transition: box-shadow 0.3s ease;
  position: relative;
  justify-content: center;
  max-inline-size: 82vi;
}

.footer__button svg {
  inline-size: 21px;
  aspect-ratio: 1/1;
  color: var(--button-color, #fff);
  mix-blend-mode: difference;
}

.dialog {
  border: 2px solid var(--main-color, #000);
  background-color: var(--bg-color, #fff);
  inline-size: clamp(341px, 90vi, 357px);
  padding: 30px calc(2.8891rem - 1.1268vi);
}

.dialog[open] {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.dialog__content {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dialog__text {
  text-transform: uppercase;
  font-family: inherit;
  line-height: 1.5;
  color: var(--main-color, #000);
  font-size: 14px;
  font-weight: 400;
  max-inline-size: 234px;
}

.dialog svg {
  inline-size: 39px;
  aspect-ratio: 1/1;
  color: var(--main-color, #000);
}

.close-button {
  text-transform: uppercase;
  border: 2px solid currentColor;
  padding: 12.5px calc(108px - 1.6901vi);
  color: var(--main-color, #000);
  inline-size: 100%;
  position: relative;
}
