/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--main-color, #000);
  font-family: var(--accent-font, 'PressStart2P-Regular'), Arial, Helvetica,
    sans-serif;
  background-color: var(--bg-color, #fff);
  background-image: var(
    --bg-image,
    repeating-linear-gradient(
      90deg,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(#e7e7e7, #1a1a1a)
  );
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-weight: var(--normal-font-weight, 400);
  padding-block: 100px;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font, 'Inter-Variable'), Arial, Helvetica,
      sans-serif;
    font-variation-settings: 'wght' var(--normal-font-weight, 400);
  }
}

.header {
  font-family: var(--accent-font, 'PressStart2P-Regular'), 'Lucida Grande',
    Geneva, sans-serif;
  line-height: 1;
  max-inline-size: 700px;
  border: 2px solid var(--main-color, #000);
  background-color: var(--bg-color, #fff);
  display: flex;
  margin: 0 auto 100px;
  flex-direction: column;
  align-items: center;
}

.container__title {
  padding: clamp(120px, 32vi, 136px) 0 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-weight: 400;
}

.link {
  text-decoration: none;
}

.container__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  font-weight: 400;
  text-transform: uppercase;
}

.header__theme-menu {
  padding: 25px clamp(133px, 21vi, 297px) 25px clamp(154px, 22vi, 315px);
  font-weight: 400;
  font-size: 14px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__button {
  border: 0;
  text-transform: uppercase;
  position: relative;
  text-align: start;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset: 0 0 0 -19px;
  animation: translationLeftRight 0.5s ease-in-out infinite alternate-reverse;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  transform: scaleX(0);
  inset: 15px 0;
  position: absolute;
  block-size: 2px;
  background-color: var(--main-color, #000);
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  transform-origin: 0 100%;
}

/* MAIN */

.main {
  display: flex;
  flex-direction: column;
  max-inline-size: 700px;
  margin: 0 auto;
}

.main__card {
  background-color: var(--bg-color, #fff);
  color: var(--main-color, #000);
  border: 2px solid var(--main-color, #000);
}

.main__card:not(:last-child) {
  margin-block-end: 50px;
}

.card__title {
  font-weight: var(--bold-font-weight, 700);
  font-size: 18px;
  line-height: 1.21;
  min-inline-size: 375px;
  padding: clamp(3px, 4.4px - 0.1vi, 4px) 10px clamp(3px, 8px - 0.35vi, 6px);
}

@supports (font-variation-settings: normal) {
  .card__title {
    font-variation-settings: 'wght' var(--bold-font-weight, 700);
  }
}

.card__figure {
  position: relative;
}

.label {
  position: absolute;
  z-index: 1;
  font-family: var(--accent-font, 'PressStart2P-Regular'), 'Lucida Grande',
    Geneva, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  inset-inline-end: clamp(13px, 2vi, 25px);
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
  text-shadow:
    1px 0 1px var(--bg-color, #fff),
    0 1px 1px var(--bg-color, #fff),
    -1px 0 1px var(--bg-color, #fff),
    0 -1px 1px var(--bg-color, #fff);
  opacity: 0.5;
}

@supports (-webkit-text-stroke: 1px var(--bg-color, #fff)) {
  .label {
    -webkit-text-stroke: 1px var(--bg-color, #fff);
    text-shadow: none;
  }
}

.main__card:nth-child(1) .card__figure > .label,
.main__card:nth-child(2) .card__figure > .label,
.main__card:nth-child(3) .card__figure > .label {
  text-transform: uppercase;
}

.card__img {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  border-block: 2px solid var(--main-color, #000);
  block-size: clamp(375px, 260px + 31vi, 700px);
}

.img-blur {
  filter: blur(3px);
}

.img-brightness {
  filter: brightness(30%);
}

.img-saturate {
  filter: saturate(110%);
}

.img-invert {
  filter: invert(1) hue-rotate(141deg);
}

.img-sepia {
  filter: sepia(80%);
}

.img-blur-sepia {
  filter: blur(2px) sepia(0);
}

.img-grayscale-contrast {
  filter: grayscale(157%) contrast(0.5);
}

.img-opacity-saturate {
  filter: opacity(71%) saturate(0.5);
}

.figure-caption {
  font-variation-settings: 'wght' var(--normal-font-weight, 400);
  font-size: 18px;
  line-height: 1.17;
  padding: clamp(19px, 17.24px + 0.4695vi, 24px) 25px 25px;
}

.card__img-text:not(:last-child) {
  padding-block-end: 27px;
}

.card__buttons {
  display: flex;
  justify-content: end;
  gap: 5px;
  padding: 0 25px 25px;
}

.sparks {
  opacity: 0;
}

.card__like-button {
  min-inline-size: 130px;
  min-block-size: 38px;
}

/* FOOTER */

.footer {
  padding: clamp(50px, 13vi, 52px) 0 clamp(0px, 27vi, 3px);
  display: flex;
  font-family: var(--accent-font, 'PressStart2P-Regular'), 'Lucida Grande',
    Geneva, sans-serif;
}

.footer__button {
  display: flex;
  background-color: var(--bg-color, #fff);
  margin-inline: auto;
  padding: 15px 21px 15px 19px;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  max-inline-size: 82vi;
  max-block-size: 22vi;
}

.footer__button svg {
  inline-size: clamp(21px, 30.5px + -0.6573vw, 28px);
  block-size: clamp(21px, 30.5px + -0.6573vw, 28px);
  position: relative;
  color: var(--button-color, #fff);
  mix-blend-mode: difference;
  z-index: 1;
}

.dialog {
  border: 2px solid var(--main-color, #000);
  background-color: var(--bg-color, #fff);
  inline-size: clamp(341px, 90vi, 357px);
  padding: 30px 0;
}

.dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.dialog__content {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.dialog__text {
  text-transform: uppercase;
  font-family: inherit;
  line-height: 1.5;
  color: var(--main-color, #000);
  font-size: 14px;
  font-weight: 400;
  max-inline-size: 196px;
}

.dialog__form {
  padding: 30px calc(2.8891rem - 1.1268vi) 0;
}

.dialog svg {
  color: var(--main-color, #000);
}

.close-button {
  text-transform: uppercase;
  inline-size: clamp(16.0625rem, 15.2702rem + 3.3803vi, 18.3125rem);
  block-size: 38px;
}

.button {
  font-family: var(--accent-font, 'PressStart2P-Regular'), 'Lucida Grande',
    Geneva, sans-serif;
  transition: box-shadow 0.3s ease;
  border: 2px solid currentColor;
  position: relative;
  font-size: 14px;
  line-height: 0.9;
  color: var(--main-color, #000);
}

.button__text {
  text-wrap: nowrap;
  position: relative;
  z-index: 1;
}

.button .button__text {
  color: var(--button-color, #fff);
  mix-blend-mode: difference;
}

.button::after {
  content: '';
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  background-color: var(--main-color, #000);
  transform-origin: 0 100%;
  position: absolute;
  display: block;
  inset: 0;
}

/* СОСТОЯНИЯ ЭЛЕМЕНТОВ */

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus,
.button:focus,
.card__icon-button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  transform: scaleX(1);
}

.button:focus-visible {
  outline: none;
  -webkit-box-shadow: 2px 2px 0 0 var(--main-color, #000);
  box-shadow: 2px 2px 0 0 var(--main-color, #000);
}

.button:hover::after {
  transform: scaleX(1);
}
